@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: #111;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text label{
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

label span{
    position: relative;
    color: white;
    z-index: 2;
}

label span:hover{
    filter: blur(1px);
}

.text label::before,
.text label::after{
    position: absolute;
    content: attr(data-content);
    top: 0;
    left:0;
    visibility: hidden;
}

.text:hover label::before,
.text:hover label::after{
    visibility: visible;
}

.text:hover label::before{
    color: rgba(255, 0, 188, 0.8);
    animation: glitch .3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.text:hover label::after{
    color: rgba(255, 0, 188, 0.8);
    animation: glitch .3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both;
}