@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: grid;
    place-items: center;
    height: 100%;
    background: #0069d9;
}

.wrapper{
   background: #fff;
   width: 400px;
   height: 100px;
   border-radius: 5px;
   padding: 20px 15px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   border: 1px solid #0069d9;
}